<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="http://just.douknow.us/css/stylesheet.css" charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body id="intro">
    <div id="wrapper">
      <div id="header" onclick="javascript:window.location='/just/'">
        <h1>Just Blog</h1>
      </div>
      <div id="navigation">
        <ul>
          <li id="navi_intro">
            <a href="./intro.html">Intro</a>
          </li>
          <li id="navi_wiki">
            <a href="http://wiki.douknow.us">Wiki</a>
          </li>
          <li id="navi_project">
            <a href="http://github.com">Project</a>
          </li>
          <li id="navi_contact">
            <a href="./contact.html">Contact</a>
          </li>
          <li id="navi_site">
            <a href="http://douknow.us">Site</a>
          </li>
          <li id="navi_aubrey">
            <a href="http://aubrey.douknow.us">And she</a>
          </li>
        </ul>
      </div>
      <div id="page_body">
        <div id="content">
          {{ content }}
          <div id="disqus_thread"></div>
          <script type="text/javascript">
            /**
              * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 

              * var disqus_developer = 1;
              */
            (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://mickey.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=mickey">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
                   
          
        </div>
        <div id="sidebar">
          <div class="item">
            <h4>Rss Feed</h4>
            <a href="http://just.douknow.us/atom.xml" id="rss_feed" name="rss_feed">Blog Posts</a>
          </div>
          <div class="item">
            <!-- Blog   -->
            <h4>Blog Posts</h4>
            <p>
              {% for post in site.posts %} 
                <span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}">{{ post.title }}</a><br>
              {% endfor %}
            </p>
          </div>
          <div class="item">
            <h4>Links</h4>
            <a href="http://aubrey.douknow.us">MIAO</a>
          </div>
          <div class="item">
            <div id="recentcomments" class="dsq-widget"><h4 class="dsq-widget-title">Recent Comments</h4><script type="text/javascript" src="http://disqus.com/forums/mickey/recent_comments_widget.js?num_items=10&hide_avatars=1&avatar_size=32&excerpt_length=200"></script></div>
          </div>
        </div>
      </div>
      <div id="footer">
        <p><a href="http://just.douknow.us" title="mickey's little blog">copyright by mickey</a> | generated by <a href="http://github.com/mojombo/jekyll">jekyll</a> and <a href="http://drnic.github.com/jekyll_generator">jekyll_generator</a></p>
      </div>
    </div>
    <!--<a href="http://github.com//just"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>-->
  </body>
</html>
